.header-navigation-block {
  display: none;
}

@include breakpoint($breakpoint-desktop) {
  .header-navigation-block {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    height: map_get($navigation-flyup, height-px);
    height: map_get($navigation-flyup, height);
    width: map_get($navigation-column, width-px);
    width: map_get($navigation-column, width);
    text-align: left;
  }
}
