.billboard-link {
  display: block;
  margin: {
    bottom: 6px;
    bottom: 0.6rem;
  }
  overflow: hidden;
}

@include breakpoint($breakpoint-desktop) {
  .billboard-link {
    margin-bottom: -90px;
    &:hover {
      .billboard-shelf {
        visibility: visible;
        opacity: 1;
        margin-top: -96px;
        transition: margin 0.3s ease-out;
      }
    }
  }
}
