.billboards-list-item {
  text-align: left;
}

@include breakpoint($breakpoint-tablet) {
  .billboards-list-item {
    margin: 0 6px;
    margin: 0 0.6rem;
    display: inline-block;
    width: 260px;
    width: 26rem;
    height: 145px;
    height: 14.5rem;
  }
}

@include breakpoint($breakpoint-desktop) {
  .billboards-list-item {
    width: 445px;
    width: 44.5rem;
    height: 250px;
    height: 25rem;
  }
}
