.billboard-link {
  display: block;
  margin: {
    bottom: 6px;
    bottom: 0.6rem;
  }
  overflow: hidden;
}

@include breakpoint($breakpoint-desktop) {
  .billboard-link {
    position: relative;
  }
}
