.billboard-link {
  display: block;
  margin: {
    bottom: 6px;
    bottom: 0.6rem;
  }
  position: relative;
  overflow: hidden;

  .view-about-page-billboards & {
    margin: {
      bottom: 10px;
      bottom: 1rem;
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .billboard-link {

  }
}
