.related-pages-links {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 160%;
  &:first-child {
    &:before {
      content: 'Related Pages :';
      display: block;
      margin: {
        bottom: 10px;
        bottom: 1rem;
      }
      font-size: 16px;
      @include font-details(1.6rem, null, 400, null, italic);
    }
  }
  a {
    white-space: nowrap;
  }
}
