$breakpoint-mobile-wide: 30em; // 480px
$breakpoint-tablet: 48em; // 768px
$breakpoint-desktop: 64.0625em; // 1025px
$breakpoint-desktop-wide: 83.75em; // 1340px

$breakpoint-hi-res: min-resolution 1.3dppx;
