// site colors
$gold: #eea904;
$orange: #f8903b;
$purple: #14021c;
$teal: #18b3cd;

// light variants
$orange-light: lighten($orange, 20%);
$orange-lighter: lighten($orange, 30%);

// grays
$gray-light: #595354;
$gray: #494949;
$gray-dark: #343434;

// background
$gray-light-background: #f3f2ee;
$gray-background: #a6a29c;
$gray-dark-background: #2e2b2b;

// masks
$gray-light-mask: rgba($gray, 0.8);
$gray-mask: rgba($gray-dark-background, 0.8);
$purple-mask: rgba($purple, 0.3);
$white-mask: rgba(white, 0.2);
