// site colors
$gold: #eea904;
$orange: #f8903b;
$purple: #14021c;
$teal: #18b3cd;

// grays
$gray-light: #595354;
$gray: #494949;
$gray-dark: #343434;

// background
$gray-light-background: #f3f2ee;
$gray-background: #a6a29c;
$gray-dark-background: #2e2b2b;

// masks
$purple-mask: rgba($purple, 0.3);
