.block-main-feature {
  margin: {
    bottom: 5px;
    bottom: 0.5rem;
  }
  padding: 60px 25px 120px;
  padding: 6rem 2.5rem 12rem;
  background: url(../images/history-montage.png) no-repeat bottom center;
  background-size: contain;
  text-align: center;
}

@include breakpoint($breakpoint-tablet) {
  .block-main-feature {
    margin-bottom: 0.5%;
    padding: {
      bottom: 150px;
      bottom: 15rem;
    }
    background-size: auto;
  }
}

@include breakpoint($breakpoint-desktop) {
  .block-main-feature {
    margin: 0 auto 0.5%;
    padding: {
      bottom: 200px;
      bottom: 20rem;
    }
    max-width: 1024px;
    max-width: 102.4rem;
  }
}
