.block-main-feature {
  margin: 0 auto 1px;
  margin: 0 auto 0.1rem;
  padding: 30px 25px 140px;
  padding: 3rem 2.5rem 14rem;
  background: url(../images/history-collage_mobile.png) no-repeat bottom center;
  background-size: contain;
  text-align: center;
}

@include breakpoint($breakpoint-mobile-wide) {
  .block-main-feature {
    padding: {
      bottom: 190px;
      bottom: 19rem;
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .block-main-feature {
    padding: {
      bottom: 210px;
      bottom: 21rem;
    }
    background: url(../images/history-collage_desktop.png) no-repeat bottom center;
    background-size: contain;
  }
}

@include breakpoint($breakpoint-desktop) {
  .block-main-feature {
    padding: {
      bottom: 250px;
      bottom: 25rem;
    }
    max-width: 1024px;
    max-width: 102.4rem;
    background-size: auto;
  }
}

@include breakpoint($breakpoint-desktop $breakpoint-hi-res) {
  .block-main-feature {
    background: url(../images/history-collage_desktop_2x.jpg) no-repeat bottom center;
    background-size: 1024px;
    background-size: 102.4rem;
  }
 }
