{
  "name": "the_ark",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/the-ark.styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": true
  },
  "imports": [
    {
      "path": "sass/the-ark.hacks.scss",
      "imports": [
        "libraries/bourbon/dist/_bourbon.scss",
        "libraries/compass-breakpoint/stylesheets/_breakpoint.scss",
        "sass/variables/_breakpoint.scss",
        "sass/variables/_colors.scss",
        "sass/variables/_legacy.scss",
        "sass/variables/_navigation.scss",
        "sass/variables/_susy.scss",
        "sass/variables/_transitions.scss",
        "sass/variables/README.md",
        "libraries/bourbon/dist/settings/_prefixer.scss",
        "libraries/bourbon/dist/settings/_px-to-em.scss",
        "libraries/bourbon/dist/settings/_asset-pipeline.scss",
        "libraries/bourbon/dist/helpers/_convert-units.scss",
        "libraries/bourbon/dist/helpers/_gradient-positions-parser.scss",
        "libraries/bourbon/dist/helpers/_is-num.scss",
        "libraries/bourbon/dist/helpers/_linear-angle-parser.scss",
        "libraries/bourbon/dist/helpers/_linear-gradient-parser.scss",
        "libraries/bourbon/dist/helpers/_linear-positions-parser.scss",
        "libraries/bourbon/dist/helpers/_linear-side-corner-parser.scss",
        "libraries/bourbon/dist/helpers/_radial-arg-parser.scss",
        "libraries/bourbon/dist/helpers/_radial-positions-parser.scss",
        "libraries/bourbon/dist/helpers/_radial-gradient-parser.scss",
        "libraries/bourbon/dist/helpers/_render-gradients.scss",
        "libraries/bourbon/dist/helpers/_shape-size-stripper.scss",
        "libraries/bourbon/dist/helpers/_str-to-num.scss",
        "libraries/bourbon/dist/functions/_assign.scss",
        "libraries/bourbon/dist/functions/_color-lightness.scss",
        "libraries/bourbon/dist/functions/_flex-grid.scss",
        "libraries/bourbon/dist/functions/_golden-ratio.scss",
        "libraries/bourbon/dist/functions/_grid-width.scss",
        "libraries/bourbon/dist/functions/_modular-scale.scss",
        "libraries/bourbon/dist/functions/_px-to-em.scss",
        "libraries/bourbon/dist/functions/_px-to-rem.scss",
        "libraries/bourbon/dist/functions/_strip-units.scss",
        "libraries/bourbon/dist/functions/_tint-shade.scss",
        "libraries/bourbon/dist/functions/_transition-property-name.scss",
        "libraries/bourbon/dist/functions/_unpack.scss",
        "libraries/bourbon/dist/css3/_animation.scss",
        "libraries/bourbon/dist/css3/_appearance.scss",
        "libraries/bourbon/dist/css3/_backface-visibility.scss",
        "libraries/bourbon/dist/css3/_background.scss",
        "libraries/bourbon/dist/css3/_background-image.scss",
        "libraries/bourbon/dist/css3/_border-image.scss",
        "libraries/bourbon/dist/css3/_border-radius.scss",
        "libraries/bourbon/dist/css3/_box-sizing.scss",
        "libraries/bourbon/dist/css3/_calc.scss",
        "libraries/bourbon/dist/css3/_columns.scss",
        "libraries/bourbon/dist/css3/_filter.scss",
        "libraries/bourbon/dist/css3/_flex-box.scss",
        "libraries/bourbon/dist/css3/_font-face.scss",
        "libraries/bourbon/dist/css3/_font-feature-settings.scss",
        "libraries/bourbon/dist/css3/_hyphens.scss",
        "libraries/bourbon/dist/css3/_hidpi-media-query.scss",
        "libraries/bourbon/dist/css3/_image-rendering.scss",
        "libraries/bourbon/dist/css3/_keyframes.scss",
        "libraries/bourbon/dist/css3/_linear-gradient.scss",
        "libraries/bourbon/dist/css3/_perspective.scss",
        "libraries/bourbon/dist/css3/_radial-gradient.scss",
        "libraries/bourbon/dist/css3/_transform.scss",
        "libraries/bourbon/dist/css3/_transition.scss",
        "libraries/bourbon/dist/css3/_user-select.scss",
        "libraries/bourbon/dist/css3/_placeholder.scss",
        "libraries/bourbon/dist/addons/_button.scss",
        "libraries/bourbon/dist/addons/_clearfix.scss",
        "libraries/bourbon/dist/addons/_directional-values.scss",
        "libraries/bourbon/dist/addons/_ellipsis.scss",
        "libraries/bourbon/dist/addons/_font-family.scss",
        "libraries/bourbon/dist/addons/_hide-text.scss",
        "libraries/bourbon/dist/addons/_html5-input-types.scss",
        "libraries/bourbon/dist/addons/_position.scss",
        "libraries/bourbon/dist/addons/_prefixer.scss",
        "libraries/bourbon/dist/addons/_retina-image.scss",
        "libraries/bourbon/dist/addons/_size.scss",
        "libraries/bourbon/dist/addons/_timing-functions.scss",
        "libraries/bourbon/dist/addons/_triangle.scss",
        "libraries/bourbon/dist/addons/_word-wrap.scss",
        "libraries/bourbon/dist/_bourbon-deprecated-upcoming.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/_context.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/_helpers.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/_parsers.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/_no-query.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/_respond-to.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_query.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_single.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_double.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_triple.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_resolution.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/single/_default.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_default-pair.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_double-string.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_default.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/triple/_default.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/resolution/_resolution.scss"
      ]
    },
    {
      "path": "sass/the-ark.libraries.scss",
      "imports": [
        "sass/libraries/_normalize.scss",
        "sass/libraries/_html5-boilerplate.scss",
        "sass/libraries/_fira.scss",
        "libraries/font-awesome/scss/font-awesome.scss",
        "sass/libraries/_the-ark.scss",
        "libraries/font-awesome/scss/_variables.scss",
        "libraries/font-awesome/scss/_mixins.scss",
        "libraries/font-awesome/scss/_path.scss",
        "libraries/font-awesome/scss/_core.scss",
        "libraries/font-awesome/scss/_larger.scss",
        "libraries/font-awesome/scss/_fixed-width.scss",
        "libraries/font-awesome/scss/_list.scss",
        "libraries/font-awesome/scss/_bordered-pulled.scss",
        "libraries/font-awesome/scss/_spinning.scss",
        "libraries/font-awesome/scss/_rotated-flipped.scss",
        "libraries/font-awesome/scss/_stacked.scss",
        "libraries/font-awesome/scss/_icons.scss"
      ]
    },
    {
      "path": "sass/the-ark.styles.scss",
      "imports": [
        "libraries/bourbon/dist/_bourbon.scss",
        "libraries/compass-breakpoint/stylesheets/_breakpoint.scss",
        "libraries/susy/sass/_susy.scss",
        "sass/variables/_breakpoint.scss",
        "sass/variables/_colors.scss",
        "sass/variables/_legacy.scss",
        "sass/variables/_navigation.scss",
        "sass/variables/_susy.scss",
        "sass/variables/_transitions.scss",
        "sass/abstractions/_clearfix.scss",
        "sass/abstractions/_icon-replace.scss",
        "sass/abstractions/_image-replace.scss",
        "sass/abstractions/_typography.scss",
        "sass/base/_body.scss",
        "sass/base/_forms.scss",
        "sass/base/_headings.scss",
        "sass/base/_html.scss",
        "sass/base/_links.scss",
        "sass/base/_lists.scss",
        "sass/base/_media.scss",
        "sass/base/_paragraph.scss",
        "sass/base/_tables.scss",
        "sass/layouts/_calendar.scss",
        "sass/layouts/_event-content.scss",
        "sass/layouts/_node-type-event.scss",
        "sass/layouts/_node-type-page.scss",
        "sass/layouts/_region-content.scss",
        "sass/layouts/_region-footer.scss",
        "sass/layouts/_region-header.scss",
        "sass/layouts/_view-events-calendar.scss",
        "sass/components/_billboards.scss",
        "sass/components/_block-ark-map.scss",
        "sass/components/_block-corporate-sponsors.scss",
        "sass/components/_block-full-feature.scss",
        "sass/components/_block-main-feature.scss",
        "sass/components/_block-quotes-display.scss",
        "sass/components/_block-related-pages.scss",
        "sass/components/_block-small-feature.scss",
        "sass/components/_breadcrumb.scss",
        "sass/components/_browsehappy.scss",
        "sass/components/_button-close.scss",
        "sass/components/_button-navigation.scss",
        "sass/components/_button-social.scss",
        "sass/components/_button.scss",
        "sass/components/_content-augmented-links.scss",
        "sass/components/_content-calendar.scss",
        "sass/components/_content-columned-text.scss",
        "sass/components/_content-event.scss",
        "sass/components/_content-expandable-details.scss",
        "sass/components/_content-tabs.scss",
        "sass/components/_content-title.scss",
        "sass/components/_document-modal.scss",
        "sass/components/_expander.scss",
        "sass/components/_footer.scss",
        "sass/components/_header-navigation-promo.scss",
        "sass/components/_header.scss",
        "sass/components/_icon-list.scss",
        "sass/components/_icon-replace.scss",
        "sass/components/_image-credit.scss",
        "sass/components/_image-replace.scss",
        "sass/components/_messages.scss",
        "sass/components/_navigation.scss",
        "sass/components/_search-page.scss",
        "sass/components/_sidebar-navigation.scss",
        "sass/components/_special-announcements.scss",
        "sass/components/_tabs-primary.scss",
        "sass/components/_views-exposed-form.scss",
        "sass/components/_webforms.scss",
        "sass/components/_newsletter-signup-form.scss",
        "libraries/bourbon/dist/settings/_prefixer.scss",
        "libraries/bourbon/dist/settings/_px-to-em.scss",
        "libraries/bourbon/dist/settings/_asset-pipeline.scss",
        "libraries/bourbon/dist/helpers/_convert-units.scss",
        "libraries/bourbon/dist/helpers/_gradient-positions-parser.scss",
        "libraries/bourbon/dist/helpers/_is-num.scss",
        "libraries/bourbon/dist/helpers/_linear-angle-parser.scss",
        "libraries/bourbon/dist/helpers/_linear-gradient-parser.scss",
        "libraries/bourbon/dist/helpers/_linear-positions-parser.scss",
        "libraries/bourbon/dist/helpers/_linear-side-corner-parser.scss",
        "libraries/bourbon/dist/helpers/_radial-arg-parser.scss",
        "libraries/bourbon/dist/helpers/_radial-positions-parser.scss",
        "libraries/bourbon/dist/helpers/_radial-gradient-parser.scss",
        "libraries/bourbon/dist/helpers/_render-gradients.scss",
        "libraries/bourbon/dist/helpers/_shape-size-stripper.scss",
        "libraries/bourbon/dist/helpers/_str-to-num.scss",
        "libraries/bourbon/dist/functions/_assign.scss",
        "libraries/bourbon/dist/functions/_color-lightness.scss",
        "libraries/bourbon/dist/functions/_flex-grid.scss",
        "libraries/bourbon/dist/functions/_golden-ratio.scss",
        "libraries/bourbon/dist/functions/_grid-width.scss",
        "libraries/bourbon/dist/functions/_modular-scale.scss",
        "libraries/bourbon/dist/functions/_px-to-em.scss",
        "libraries/bourbon/dist/functions/_px-to-rem.scss",
        "libraries/bourbon/dist/functions/_strip-units.scss",
        "libraries/bourbon/dist/functions/_tint-shade.scss",
        "libraries/bourbon/dist/functions/_transition-property-name.scss",
        "libraries/bourbon/dist/functions/_unpack.scss",
        "libraries/bourbon/dist/css3/_animation.scss",
        "libraries/bourbon/dist/css3/_appearance.scss",
        "libraries/bourbon/dist/css3/_backface-visibility.scss",
        "libraries/bourbon/dist/css3/_background.scss",
        "libraries/bourbon/dist/css3/_background-image.scss",
        "libraries/bourbon/dist/css3/_border-image.scss",
        "libraries/bourbon/dist/css3/_border-radius.scss",
        "libraries/bourbon/dist/css3/_box-sizing.scss",
        "libraries/bourbon/dist/css3/_calc.scss",
        "libraries/bourbon/dist/css3/_columns.scss",
        "libraries/bourbon/dist/css3/_filter.scss",
        "libraries/bourbon/dist/css3/_flex-box.scss",
        "libraries/bourbon/dist/css3/_font-face.scss",
        "libraries/bourbon/dist/css3/_font-feature-settings.scss",
        "libraries/bourbon/dist/css3/_hyphens.scss",
        "libraries/bourbon/dist/css3/_hidpi-media-query.scss",
        "libraries/bourbon/dist/css3/_image-rendering.scss",
        "libraries/bourbon/dist/css3/_keyframes.scss",
        "libraries/bourbon/dist/css3/_linear-gradient.scss",
        "libraries/bourbon/dist/css3/_perspective.scss",
        "libraries/bourbon/dist/css3/_radial-gradient.scss",
        "libraries/bourbon/dist/css3/_transform.scss",
        "libraries/bourbon/dist/css3/_transition.scss",
        "libraries/bourbon/dist/css3/_user-select.scss",
        "libraries/bourbon/dist/css3/_placeholder.scss",
        "libraries/bourbon/dist/addons/_button.scss",
        "libraries/bourbon/dist/addons/_clearfix.scss",
        "libraries/bourbon/dist/addons/_directional-values.scss",
        "libraries/bourbon/dist/addons/_ellipsis.scss",
        "libraries/bourbon/dist/addons/_font-family.scss",
        "libraries/bourbon/dist/addons/_hide-text.scss",
        "libraries/bourbon/dist/addons/_html5-input-types.scss",
        "libraries/bourbon/dist/addons/_position.scss",
        "libraries/bourbon/dist/addons/_prefixer.scss",
        "libraries/bourbon/dist/addons/_retina-image.scss",
        "libraries/bourbon/dist/addons/_size.scss",
        "libraries/bourbon/dist/addons/_timing-functions.scss",
        "libraries/bourbon/dist/addons/_triangle.scss",
        "libraries/bourbon/dist/addons/_word-wrap.scss",
        "libraries/bourbon/dist/_bourbon-deprecated-upcoming.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/_context.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/_helpers.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/_parsers.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/_no-query.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/_respond-to.scss",
        "libraries/susy/sass/susy/language/_susy.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_query.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_single.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_double.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_triple.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_resolution.scss",
        "libraries/susy/sass/susy/_math.scss",
        "libraries/susy/sass/susy/output/_float.scss",
        "libraries/susy/sass/susy/language/susy/_settings.scss",
        "libraries/susy/sass/susy/language/susy/_validation.scss",
        "libraries/susy/sass/susy/language/susy/_grids.scss",
        "libraries/susy/sass/susy/language/susy/_box-sizing.scss",
        "libraries/susy/sass/susy/language/susy/_context.scss",
        "libraries/susy/sass/susy/language/susy/_background.scss",
        "libraries/susy/sass/susy/language/susy/_container.scss",
        "libraries/susy/sass/susy/language/susy/_span.scss",
        "libraries/susy/sass/susy/language/susy/_gutters.scss",
        "libraries/susy/sass/susy/language/susy/_isolate.scss",
        "libraries/susy/sass/susy/language/susy/_gallery.scss",
        "libraries/susy/sass/susy/language/susy/_rows.scss",
        "libraries/susy/sass/susy/language/susy/_margins.scss",
        "libraries/susy/sass/susy/language/susy/_padding.scss",
        "libraries/susy/sass/susy/language/susy/_bleed.scss",
        "libraries/susy/sass/susy/language/susy/_breakpoint-plugin.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/single/_default.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_default-pair.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_double-string.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_default.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/triple/_default.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/resolution/_resolution.scss",
        "libraries/susy/sass/susy/math/_su.scss",
        "libraries/susy/sass/susy/output/_shared.scss",
        "libraries/susy/sass/susy/output/float/_container.scss",
        "libraries/susy/sass/susy/output/float/_span.scss",
        "libraries/susy/sass/susy/output/float/_end.scss",
        "libraries/susy/sass/susy/output/float/_isolate.scss",
        "libraries/susy/sass/susy/math/su/_maps.scss",
        "libraries/susy/sass/susy/math/su/_settings.scss",
        "libraries/susy/sass/susy/math/su/_validation.scss",
        "libraries/susy/sass/susy/math/su/_grid.scss",
        "libraries/susy/sass/susy/output/_support.scss",
        "libraries/susy/sass/susy/output/shared/_inspect.scss",
        "libraries/susy/sass/susy/output/shared/_output.scss",
        "libraries/susy/sass/susy/output/shared/_direction.scss",
        "libraries/susy/sass/susy/output/shared/_background.scss",
        "libraries/susy/sass/susy/output/shared/_container.scss",
        "libraries/susy/sass/susy/output/shared/_margins.scss",
        "libraries/susy/sass/susy/output/shared/_padding.scss",
        "libraries/susy/sass/susy/output/support/_prefix.scss",
        "libraries/susy/sass/susy/output/support/_background.scss",
        "libraries/susy/sass/susy/output/support/_box-sizing.scss",
        "libraries/susy/sass/susy/output/support/_rem.scss",
        "libraries/susy/sass/susy/output/support/_clearfix.scss",
        "libraries/susy/sass/susy/output/support/_support.scss"
      ]
    },
    {
      "path": "libraries/bourbon/dist/_bourbon.scss",
      "imports": [
        "libraries/bourbon/dist/settings/_prefixer.scss",
        "libraries/bourbon/dist/settings/_px-to-em.scss",
        "libraries/bourbon/dist/settings/_asset-pipeline.scss",
        "libraries/bourbon/dist/helpers/_convert-units.scss",
        "libraries/bourbon/dist/helpers/_gradient-positions-parser.scss",
        "libraries/bourbon/dist/helpers/_is-num.scss",
        "libraries/bourbon/dist/helpers/_linear-angle-parser.scss",
        "libraries/bourbon/dist/helpers/_linear-gradient-parser.scss",
        "libraries/bourbon/dist/helpers/_linear-positions-parser.scss",
        "libraries/bourbon/dist/helpers/_linear-side-corner-parser.scss",
        "libraries/bourbon/dist/helpers/_radial-arg-parser.scss",
        "libraries/bourbon/dist/helpers/_radial-positions-parser.scss",
        "libraries/bourbon/dist/helpers/_radial-gradient-parser.scss",
        "libraries/bourbon/dist/helpers/_render-gradients.scss",
        "libraries/bourbon/dist/helpers/_shape-size-stripper.scss",
        "libraries/bourbon/dist/helpers/_str-to-num.scss",
        "libraries/bourbon/dist/functions/_assign.scss",
        "libraries/bourbon/dist/functions/_color-lightness.scss",
        "libraries/bourbon/dist/functions/_flex-grid.scss",
        "libraries/bourbon/dist/functions/_golden-ratio.scss",
        "libraries/bourbon/dist/functions/_grid-width.scss",
        "libraries/bourbon/dist/functions/_modular-scale.scss",
        "libraries/bourbon/dist/functions/_px-to-em.scss",
        "libraries/bourbon/dist/functions/_px-to-rem.scss",
        "libraries/bourbon/dist/functions/_strip-units.scss",
        "libraries/bourbon/dist/functions/_tint-shade.scss",
        "libraries/bourbon/dist/functions/_transition-property-name.scss",
        "libraries/bourbon/dist/functions/_unpack.scss",
        "libraries/bourbon/dist/css3/_animation.scss",
        "libraries/bourbon/dist/css3/_appearance.scss",
        "libraries/bourbon/dist/css3/_backface-visibility.scss",
        "libraries/bourbon/dist/css3/_background.scss",
        "libraries/bourbon/dist/css3/_background-image.scss",
        "libraries/bourbon/dist/css3/_border-image.scss",
        "libraries/bourbon/dist/css3/_border-radius.scss",
        "libraries/bourbon/dist/css3/_box-sizing.scss",
        "libraries/bourbon/dist/css3/_calc.scss",
        "libraries/bourbon/dist/css3/_columns.scss",
        "libraries/bourbon/dist/css3/_filter.scss",
        "libraries/bourbon/dist/css3/_flex-box.scss",
        "libraries/bourbon/dist/css3/_font-face.scss",
        "libraries/bourbon/dist/css3/_font-feature-settings.scss",
        "libraries/bourbon/dist/css3/_hyphens.scss",
        "libraries/bourbon/dist/css3/_hidpi-media-query.scss",
        "libraries/bourbon/dist/css3/_image-rendering.scss",
        "libraries/bourbon/dist/css3/_keyframes.scss",
        "libraries/bourbon/dist/css3/_linear-gradient.scss",
        "libraries/bourbon/dist/css3/_perspective.scss",
        "libraries/bourbon/dist/css3/_radial-gradient.scss",
        "libraries/bourbon/dist/css3/_transform.scss",
        "libraries/bourbon/dist/css3/_transition.scss",
        "libraries/bourbon/dist/css3/_user-select.scss",
        "libraries/bourbon/dist/css3/_placeholder.scss",
        "libraries/bourbon/dist/addons/_button.scss",
        "libraries/bourbon/dist/addons/_clearfix.scss",
        "libraries/bourbon/dist/addons/_directional-values.scss",
        "libraries/bourbon/dist/addons/_ellipsis.scss",
        "libraries/bourbon/dist/addons/_font-family.scss",
        "libraries/bourbon/dist/addons/_hide-text.scss",
        "libraries/bourbon/dist/addons/_html5-input-types.scss",
        "libraries/bourbon/dist/addons/_position.scss",
        "libraries/bourbon/dist/addons/_prefixer.scss",
        "libraries/bourbon/dist/addons/_retina-image.scss",
        "libraries/bourbon/dist/addons/_size.scss",
        "libraries/bourbon/dist/addons/_timing-functions.scss",
        "libraries/bourbon/dist/addons/_triangle.scss",
        "libraries/bourbon/dist/addons/_word-wrap.scss",
        "libraries/bourbon/dist/_bourbon-deprecated-upcoming.scss"
      ]
    },
    {
      "path": "libraries/compass-breakpoint/stylesheets/_breakpoint.scss",
      "imports": [
        "libraries/compass-breakpoint/stylesheets/breakpoint/_context.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/_helpers.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/_parsers.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/_no-query.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/_respond-to.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_query.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_single.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_double.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_triple.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_resolution.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/single/_default.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_default-pair.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_double-string.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_default.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/triple/_default.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/resolution/_resolution.scss"
      ]
    },
    {
      "path": "libraries/font-awesome/less/font-awesome.less",
      "imports": [
        "libraries/font-awesome/less/variables.less",
        "libraries/font-awesome/less/mixins.less",
        "libraries/font-awesome/less/path.less",
        "libraries/font-awesome/less/core.less",
        "libraries/font-awesome/less/larger.less",
        "libraries/font-awesome/less/fixed-width.less",
        "libraries/font-awesome/less/list.less",
        "libraries/font-awesome/less/bordered-pulled.less",
        "libraries/font-awesome/less/spinning.less",
        "libraries/font-awesome/less/rotated-flipped.less",
        "libraries/font-awesome/less/stacked.less",
        "libraries/font-awesome/less/icons.less"
      ]
    },
    {
      "path": "libraries/font-awesome/scss/font-awesome.scss",
      "imports": [
        "libraries/font-awesome/scss/_variables.scss",
        "libraries/font-awesome/scss/_mixins.scss",
        "libraries/font-awesome/scss/_path.scss",
        "libraries/font-awesome/scss/_core.scss",
        "libraries/font-awesome/scss/_larger.scss",
        "libraries/font-awesome/scss/_fixed-width.scss",
        "libraries/font-awesome/scss/_list.scss",
        "libraries/font-awesome/scss/_bordered-pulled.scss",
        "libraries/font-awesome/scss/_spinning.scss",
        "libraries/font-awesome/scss/_rotated-flipped.scss",
        "libraries/font-awesome/scss/_stacked.scss",
        "libraries/font-awesome/scss/_icons.scss"
      ]
    },
    {
      "path": "libraries/sassy-maps/sass/_memo.scss",
      "imports": [
        "libraries/sassy-maps/sass/_sassy-maps.scss",
        "libraries/sassy-maps/sass/sassy-maps/_map-to-string.scss",
        "libraries/sassy-maps/sass/sassy-maps/_map-get.scss",
        "libraries/sassy-maps/sass/sassy-maps/_map-set.scss"
      ]
    },
    {
      "path": "libraries/sassy-maps/sass/_sassy-maps.scss",
      "imports": [
        "libraries/sassy-maps/sass/sassy-maps/_map-to-string.scss",
        "libraries/sassy-maps/sass/sassy-maps/_map-get.scss",
        "libraries/sassy-maps/sass/sassy-maps/_map-set.scss"
      ]
    },
    {
      "path": "libraries/susy/sass/_susy.scss",
      "imports": [
        "libraries/susy/sass/susy/language/_susy.scss",
        "libraries/susy/sass/susy/_math.scss",
        "libraries/susy/sass/susy/output/_float.scss",
        "libraries/susy/sass/susy/language/susy/_settings.scss",
        "libraries/susy/sass/susy/language/susy/_validation.scss",
        "libraries/susy/sass/susy/language/susy/_grids.scss",
        "libraries/susy/sass/susy/language/susy/_box-sizing.scss",
        "libraries/susy/sass/susy/language/susy/_context.scss",
        "libraries/susy/sass/susy/language/susy/_background.scss",
        "libraries/susy/sass/susy/language/susy/_container.scss",
        "libraries/susy/sass/susy/language/susy/_span.scss",
        "libraries/susy/sass/susy/language/susy/_gutters.scss",
        "libraries/susy/sass/susy/language/susy/_isolate.scss",
        "libraries/susy/sass/susy/language/susy/_gallery.scss",
        "libraries/susy/sass/susy/language/susy/_rows.scss",
        "libraries/susy/sass/susy/language/susy/_margins.scss",
        "libraries/susy/sass/susy/language/susy/_padding.scss",
        "libraries/susy/sass/susy/language/susy/_bleed.scss",
        "libraries/susy/sass/susy/language/susy/_breakpoint-plugin.scss",
        "libraries/susy/sass/susy/math/_su.scss",
        "libraries/susy/sass/susy/output/_shared.scss",
        "libraries/susy/sass/susy/output/float/_container.scss",
        "libraries/susy/sass/susy/output/float/_span.scss",
        "libraries/susy/sass/susy/output/float/_end.scss",
        "libraries/susy/sass/susy/output/float/_isolate.scss",
        "libraries/susy/sass/susy/math/su/_maps.scss",
        "libraries/susy/sass/susy/math/su/_settings.scss",
        "libraries/susy/sass/susy/math/su/_validation.scss",
        "libraries/susy/sass/susy/math/su/_grid.scss",
        "libraries/susy/sass/susy/output/_support.scss",
        "libraries/susy/sass/susy/output/shared/_inspect.scss",
        "libraries/susy/sass/susy/output/shared/_output.scss",
        "libraries/susy/sass/susy/output/shared/_direction.scss",
        "libraries/susy/sass/susy/output/shared/_background.scss",
        "libraries/susy/sass/susy/output/shared/_container.scss",
        "libraries/susy/sass/susy/output/shared/_margins.scss",
        "libraries/susy/sass/susy/output/shared/_padding.scss",
        "libraries/susy/sass/susy/output/support/_prefix.scss",
        "libraries/susy/sass/susy/output/support/_background.scss",
        "libraries/susy/sass/susy/output/support/_box-sizing.scss",
        "libraries/susy/sass/susy/output/support/_rem.scss",
        "libraries/susy/sass/susy/output/support/_clearfix.scss",
        "libraries/susy/sass/susy/output/support/_support.scss"
      ]
    },
    {
      "path": "libraries/susy/sass/_susyone.scss",
      "imports": [
        "libraries/susy/sass/susy/language/_susyone.scss",
        "libraries/susy/sass/susy/language/susyone/_settings.scss",
        "libraries/susy/sass/susy/language/susyone/_functions.scss",
        "libraries/susy/sass/susy/language/susyone/_grid.scss",
        "libraries/susy/sass/susy/language/susyone/_isolation.scss",
        "libraries/susy/sass/susy/language/susyone/_padding.scss",
        "libraries/susy/sass/susy/language/susyone/_margin.scss",
        "libraries/susy/sass/susy/language/susyone/_media.scss",
        "libraries/susy/sass/susy/language/susyone/_background.scss"
      ]
    },
    {
      "path": "libraries/compass-breakpoint/stylesheets/breakpoint/_parsers.scss",
      "imports": [
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_query.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_single.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_double.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_triple.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_resolution.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/single/_default.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_default-pair.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_double-string.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_default.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/triple/_default.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/resolution/_resolution.scss"
      ]
    },
    {
      "path": "libraries/susy/sass/susy/_math.scss",
      "imports": [
        "libraries/susy/sass/susy/math/_su.scss",
        "libraries/susy/sass/susy/math/su/_maps.scss",
        "libraries/susy/sass/susy/math/su/_settings.scss",
        "libraries/susy/sass/susy/math/su/_validation.scss",
        "libraries/susy/sass/susy/math/su/_grid.scss"
      ]
    },
    {
      "path": "libraries/susy/templates/project/style.scss",
      "imports": [
        "libraries/susy/templates/project/_grids.scss"
      ]
    },
    {
      "path": "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_double.scss",
      "imports": [
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_default-pair.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_double-string.scss",
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/double/_default.scss"
      ]
    },
    {
      "path": "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_resolution.scss",
      "imports": [
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/resolution/_resolution.scss"
      ]
    },
    {
      "path": "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_single.scss",
      "imports": [
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/single/_default.scss"
      ]
    },
    {
      "path": "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/_triple.scss",
      "imports": [
        "libraries/compass-breakpoint/stylesheets/breakpoint/parsers/triple/_default.scss"
      ]
    },
    {
      "path": "libraries/susy/sass/susy/language/_susy.scss",
      "imports": [
        "libraries/susy/sass/susy/_math.scss",
        "libraries/susy/sass/susy/output/_float.scss",
        "libraries/susy/sass/susy/language/susy/_settings.scss",
        "libraries/susy/sass/susy/language/susy/_validation.scss",
        "libraries/susy/sass/susy/language/susy/_grids.scss",
        "libraries/susy/sass/susy/language/susy/_box-sizing.scss",
        "libraries/susy/sass/susy/language/susy/_context.scss",
        "libraries/susy/sass/susy/language/susy/_background.scss",
        "libraries/susy/sass/susy/language/susy/_container.scss",
        "libraries/susy/sass/susy/language/susy/_span.scss",
        "libraries/susy/sass/susy/language/susy/_gutters.scss",
        "libraries/susy/sass/susy/language/susy/_isolate.scss",
        "libraries/susy/sass/susy/language/susy/_gallery.scss",
        "libraries/susy/sass/susy/language/susy/_rows.scss",
        "libraries/susy/sass/susy/language/susy/_margins.scss",
        "libraries/susy/sass/susy/language/susy/_padding.scss",
        "libraries/susy/sass/susy/language/susy/_bleed.scss",
        "libraries/susy/sass/susy/language/susy/_breakpoint-plugin.scss",
        "libraries/susy/sass/susy/math/_su.scss",
        "libraries/susy/sass/susy/output/_shared.scss",
        "libraries/susy/sass/susy/output/float/_container.scss",
        "libraries/susy/sass/susy/output/float/_span.scss",
        "libraries/susy/sass/susy/output/float/_end.scss",
        "libraries/susy/sass/susy/output/float/_isolate.scss",
        "libraries/susy/sass/susy/math/su/_maps.scss",
        "libraries/susy/sass/susy/math/su/_settings.scss",
        "libraries/susy/sass/susy/math/su/_validation.scss",
        "libraries/susy/sass/susy/math/su/_grid.scss",
        "libraries/susy/sass/susy/output/_support.scss",
        "libraries/susy/sass/susy/output/shared/_inspect.scss",
        "libraries/susy/sass/susy/output/shared/_output.scss",
        "libraries/susy/sass/susy/output/shared/_direction.scss",
        "libraries/susy/sass/susy/output/shared/_background.scss",
        "libraries/susy/sass/susy/output/shared/_container.scss",
        "libraries/susy/sass/susy/output/shared/_margins.scss",
        "libraries/susy/sass/susy/output/shared/_padding.scss",
        "libraries/susy/sass/susy/output/support/_prefix.scss",
        "libraries/susy/sass/susy/output/support/_background.scss",
        "libraries/susy/sass/susy/output/support/_box-sizing.scss",
        "libraries/susy/sass/susy/output/support/_rem.scss",
        "libraries/susy/sass/susy/output/support/_clearfix.scss",
        "libraries/susy/sass/susy/output/support/_support.scss"
      ]
    },
    {
      "path": "libraries/susy/sass/susy/language/_susyone.scss",
      "imports": [
        "libraries/susy/sass/susy/language/susyone/_settings.scss",
        "libraries/susy/sass/susy/language/susyone/_functions.scss",
        "libraries/susy/sass/susy/language/susyone/_grid.scss",
        "libraries/susy/sass/susy/language/susyone/_isolation.scss",
        "libraries/susy/sass/susy/language/susyone/_padding.scss",
        "libraries/susy/sass/susy/language/susyone/_margin.scss",
        "libraries/susy/sass/susy/language/susyone/_media.scss",
        "libraries/susy/sass/susy/language/susyone/_background.scss"
      ]
    },
    {
      "path": "libraries/susy/sass/susy/math/_su.scss",
      "imports": [
        "libraries/susy/sass/susy/math/su/_maps.scss",
        "libraries/susy/sass/susy/math/su/_settings.scss",
        "libraries/susy/sass/susy/math/su/_validation.scss",
        "libraries/susy/sass/susy/math/su/_grid.scss"
      ]
    },
    {
      "path": "libraries/susy/sass/susy/output/_float.scss",
      "imports": [
        "libraries/susy/sass/susy/output/_shared.scss",
        "libraries/susy/sass/susy/output/float/_container.scss",
        "libraries/susy/sass/susy/output/float/_span.scss",
        "libraries/susy/sass/susy/output/float/_end.scss",
        "libraries/susy/sass/susy/output/float/_isolate.scss",
        "libraries/susy/sass/susy/output/_support.scss",
        "libraries/susy/sass/susy/output/shared/_inspect.scss",
        "libraries/susy/sass/susy/output/shared/_output.scss",
        "libraries/susy/sass/susy/output/shared/_direction.scss",
        "libraries/susy/sass/susy/output/shared/_background.scss",
        "libraries/susy/sass/susy/output/shared/_container.scss",
        "libraries/susy/sass/susy/output/shared/_margins.scss",
        "libraries/susy/sass/susy/output/shared/_padding.scss",
        "libraries/susy/sass/susy/output/support/_prefix.scss",
        "libraries/susy/sass/susy/output/support/_background.scss",
        "libraries/susy/sass/susy/output/support/_box-sizing.scss",
        "libraries/susy/sass/susy/output/support/_rem.scss",
        "libraries/susy/sass/susy/output/support/_clearfix.scss",
        "libraries/susy/sass/susy/output/support/_support.scss"
      ]
    },
    {
      "path": "libraries/susy/sass/susy/output/_shared.scss",
      "imports": [
        "libraries/susy/sass/susy/output/_support.scss",
        "libraries/susy/sass/susy/output/shared/_inspect.scss",
        "libraries/susy/sass/susy/output/shared/_output.scss",
        "libraries/susy/sass/susy/output/shared/_direction.scss",
        "libraries/susy/sass/susy/output/shared/_background.scss",
        "libraries/susy/sass/susy/output/shared/_container.scss",
        "libraries/susy/sass/susy/output/shared/_margins.scss",
        "libraries/susy/sass/susy/output/shared/_padding.scss",
        "libraries/susy/sass/susy/output/support/_prefix.scss",
        "libraries/susy/sass/susy/output/support/_background.scss",
        "libraries/susy/sass/susy/output/support/_box-sizing.scss",
        "libraries/susy/sass/susy/output/support/_rem.scss",
        "libraries/susy/sass/susy/output/support/_clearfix.scss",
        "libraries/susy/sass/susy/output/support/_support.scss"
      ]
    },
    {
      "path": "libraries/susy/sass/susy/output/_support.scss",
      "imports": [
        "libraries/susy/sass/susy/output/support/_prefix.scss",
        "libraries/susy/sass/susy/output/support/_background.scss",
        "libraries/susy/sass/susy/output/support/_box-sizing.scss",
        "libraries/susy/sass/susy/output/support/_rem.scss",
        "libraries/susy/sass/susy/output/support/_clearfix.scss",
        "libraries/susy/sass/susy/output/support/_support.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}