.columned-text-block {
  margin: 40px 0;
  margin: 4rem 0;
}

@include breakpoint($breakpoint-desktop) {
  .columned-text-block {
    overflow: hidden;

    .page-node-5 &, .page-node-97 &, .page-node-98 &, .page-node-99 & {
      margin: 0;
      padding-left: 0;
      padding: {
        right: 20px;
        right: 2rem;
      }
      width: 50%;
      float: left;
      max-width: none;
    }
  }
}
