.columned-text-view {
  margin: 0 auto;
  padding: 0 20px;
  padding: 0 2rem;
  max-width: 600px;
  max-width: 60rem;
}

@include breakpoint($breakpoint-desktop) {
  .columned-text-view {
    max-width: 1000px;
    max-width: 100rem;

    .page-node-5 &, .page-node-97 &, .page-node-98 &, .page-node-99 & {
      max-width: none;
    }
  }
}
