.homepage-tabs-block {
  margin: {
    bottom: 2px;
    bottom: 0.2rem;
  }
}

@include breakpoint($breakpoint-tablet) {
  .homepage-tabs-block {
    margin: {
      bottom: 5px;
      bottom: 0.5rem;
    }
  }
}
