.tab-content-body {
  @extend %clearfix;

  margin: 0 auto;
  padding: 20px;
  padding: 2rem;
  max-width: 600px;
  max-width: 60rem;
  text-align: center;
}

@include breakpoint($breakpoint-tablet) {
  .tab-content-body {
    padding: {
      top: 80px;
      top: 8rem;
      bottom: 80px;
      bottom: 8rem;
    }

    &, p, li {
      @include font-details($size: 18px);
      font-size: 1.8rem;
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .tab-content-body {
    max-width: 1000px;
    max-width: 100rem;

    .homepage-tabs-block & {
      text-align: left;
    }
  }
}
