.tab-content-body-media {}

@include breakpoint($breakpoint-desktop) {
  .tab-content-body-media {
    float: left;
    margin: {
      right: 50px;
      right: 5rem;
    }
    max-width: 500px;
    max-width: 50rem;
  }
}
