.calendar-row {
  @extend %clearfix;
}

@include breakpoint($breakpoint-desktop) {
  .calendar-row {
    margin: 0 auto;
    max-width: 875px;
    max-width: 87.5rem;
  }
}

@include breakpoint($breakpoint-desktop-wide) {
  .calendar-row {
    max-width: 1190px;
    max-width: 119rem;
  }
}
