.field--name-field-body-column {
  margin: 0 auto;
  padding: 0 20px;
  padding: 0 2rem;
  max-width: 600px;
  max-width: 60rem;

  p, ul, h1, h2, h3, h4, h5, h6 {
    margin: {
      top: 0;
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .field--name-field-body-column {
    p, li {
      @include font-details($size: 18px);
      font-size: 1.8rem;
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .field--name-field-body-column {
    max-width: 1000px;
    max-width: 100rem;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem;

    p, ul {
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
    }
  }
}
