.view-events-calendar {
  background-color: $gray-light-background;

  &.events-upcoming-view {
    @extend %clearfix;

    background-color: inherit;
  }
}

@include breakpoint($breakpoint-tablet) {
  .view-events-calendar {
    padding: 0 60px;
    padding: 0 6rem;
  }
}
