.webform-block-feedback {
  padding: 0 25px;
  padding: 0 2.5rem;
}

@include breakpoint($breakpoint-desktop) {
  .webform-block-feedback {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
    max-width: 100rem;
  }
}
