.block-small-feature {
  p {
    margin: 0;
    padding: 0 25px;
    padding: 0 2.5rem;
    text-align: left;
    color: #ffffff;
    font-size: 28px;
    font-size: 2.8rem;
  }
}

@include breakpoint($breakpoint-desktop-wide) {
  .block-small-feature {
      p {
        padding: 0 50px;
        padding: 0 5rem;
      }
  }
}
