.augmented-links-view {
  margin: 0 auto;
  max-width: 280px;
  max-width: 28rem;
}

@include breakpoint($breakpoint-tablet) {
  .augmented-links-view {
    max-width: 700px;
    max-width: 70rem;
  }
}

@include breakpoint($breakpoint-desktop) {
  .augmented-links-view {
    max-width: 880px;
    max-width: 88rem;
  }
}
