.header-navigation-related-links {
  .related-links-title {
    @include font-details($size: 14px, $weight: 400, $style: italic);
    font-size: 1.4rem;

    margin: {
      top: 25px;
    }
    margin: {
      top: 2.5rem;
    }
  }
  .related-links-menu-item {
    padding: 5px 0;
    padding: 0.5rem 0;
  }
  .related-links-menu-link {
    @include transition(color $transition-duration ease-out);
    @include font-details($size: 14px, $color: white, $weight: 300);
    font-size: 1.4rem;

    text-transform: uppercase;
    &:hover {
      @include font-details($color: $gold);
      text-decoration: none;
    }
  }
}
