.block-full-feature {
  padding: 25px;
  padding: 2.5rem;
  background-color: $gray-light-background;
}

@include breakpoint($breakpoint-tablet) {
  .block-full-feature {
    padding: 80px;
    padding: 8rem;
    .block__content {
      overflow: hidden;
    }
  }
}

@include breakpoint($breakpoint-desktop-wide) {
  .block-full-feature {
    .block__content {
      margin: 0 auto;
      max-width: 1024px;
      max-width: 102.4rem;
    }
  }
}
