.event-content {
  background-color: $gray-light-background;
}

@include breakpoint($breakpoint-desktop) {
  .event-content-primary {
    @include container(1000px);
    max-width: 100rem;

    margin: {
      top: 20px;
      top: 2rem;
    }
  }
  .event-body {
    float: right;
    max-width: 50%;
  }
  .event-media {
    float: left;
    max-width: 50%;
  }
}

@include breakpoint($breakpoint-desktop-wide) {
  .event-content-primary {
    max-width: 1160px;
    max-width: 116rem;
  }
}

.page-shows-events-calendar {
    //positioning for event genre filter
    .view-filters {
        position: relative; 
        .views-exposed-form-events-calendar-events-calendar {
            position: absolute; 
            right: 0;
            top: -12rem;
            .views-exposed-form .views-exposed-widget {
            }
            #edit-submit-events-calendar {
                padding: .6rem 3rem;
                position: relative;
                top: 2rem;
            }
            .views-exposed-form {
                padding: 0; 
            }
        }
    }
    //positioning for extra links on events calendar page
    .event-cal-links {
        float: left;
        position: relative;
        top: 4.7rem;
        z-index: 1;
    }
}
@media (max-width:1050px) {
    .page-shows-events-calendar {
        .view-filters {
            .views-exposed-form-events-calendar-events-calendar {
                position: static; 
            } 
        } 
    }    
}
@media(max-width:660px) {
    .page-shows-events-calendar {
        .event-cal-links {
            position: static; 
        }
    }
}
