.block__content, .node__content {
  li {
    @include font-details($weight: 300, $height: 1.5);

    margin: {
      bottom: 16px;
    }
    margin: {
      bottom: 1.6rem;
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .block__content, .node__content {
    li {
      font-size: 18px;
      font-size: 1.8rem;
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .block__content, .node__content {
    li {
      font-size: 28px;
      font-size: 2.8rem;
    }
  }
}
