.browsehappy {
  @include font-details($color: white);

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  margin: 0;
  padding: {
    top: 100px;
  }
  width: 100%;
  height: 100%;
  background: {
    color: $gray-dark-background;
  }
  text-align: center;
}
