.event-media {

}
.event-media-content {
  padding: 20px 0;
  padding: 2rem 0;
}
.event-images-videos {
  padding: 0 20px;
  padding: 0 2rem;
  .file {
    margin: 20px auto;
    margin: 2rem auto;
    width: 580px;
    width: 58rem;
    max-width: 100%;
  }
  .file-video {
    margin: {
      top: 12px;
      top: 1.2rem;
      bottom: 12px;
      bottom: 1.2rem;
    }
  }
}
.event-spotify {
  overflow: hidden;
  padding: 0 20px;
  max-width: 100%;
  .field__item {
    overflow: hidden;
    margin: 0 auto;
    border: {
      radius: 3px;
      radius: 0.3rem;
    }
    width: 280px;
    width: 28rem;
    height: 80px;
    height: 8rem;
  }
  .spotify-player {
    width: 280px;
    width: 28rem;
    height: 80px;
    height: 8rem;
  }
}

@include breakpoint($breakpoint-mobile-wide) {
  // .event-spotify {
  //   width: 460px;
  //   width: 46rem;
  //   .spotify-player {
  //     width: 460px;
  //     width: 46rem;
  //     height: 520px;
  //     height: 52rem;
  //   }
  // }
}
