.event-sponsors {
  margin: 30px 20px;
  margin: 3rem 2rem;
  border: {
    top: 1px solid $gray-lighter;
    bottom: 1px solid $gray-lighter;
  }
  padding: 10px 0 0;
  padding: 1rem 0 0;
  text-align: center;
  color: $gray-background;
}
.event-sponsors-title {
  @include font-details($size: 14px, $style: italic);
  font-size: 1.4rem;
}
.event-sponsors-list {
  padding: 0;
  list-style: none;
  .event-sponsors-list-item {
    @include font-details($size: 16px, $weight: 700);
    font-size: 1.6rem;
    display: inline-block;//letting logos lay next to each other @rdar

    margin: {
      bottom: 30px;
      bottom: 3rem;
      right:0.5rem;
    }
  }
}
.event-sponsors-sponsor-link {
  color: $gray-background;
}
