.billboard-shelf {
  padding: 25px;
  padding: 2.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $teal;
  background-color: $teal-mask;
}

@include breakpoint($breakpoint-tablet) {
  .billboard-shelf {

  }
}

@include breakpoint($breakpoint-desktop) {
    .billboard-shelf {
      height: auto;
      bottom: -99px;
      bottom: -9.9rem;
      @include transition(transform $transition-duration ease-out);

      .view-about-page-billboards & {
        //bottom: -40px;
        //bottom: -4rem;
      }

      .billboard-link:hover > & {
        transform: translateY(-99px);
        transform: translateY(-9.9rem);
      }
    }
}
