.calendar-column-date {
  @include font-details($weight: 300);

  margin: 20px auto 0;
  margin: 2rem auto 0;
  width: 160px;
  width: 16rem;
  text-transform: uppercase;

  .day-of-month {
    @include font-details($size: 30px);
    font-size: 3rem;
  }
  .day-of-week {
    @include font-details($size: 18px);
    font-size: 1.8rem;

    margin: {
      left: 5px;
      left: 0.5rem;
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .calendar-column-date {
    margin: {
      right: 0;
      left: 0;
    }
  }
}

@include breakpoint($breakpoint-desktop $breakpoint-desktop-wide - 0.0625) {
  .calendar-column-date {
    width: 115px;
    width: 11.5rem;

    .day-of-month {
      @include font-details($size: 24px);
      font-size: 2.4rem;
    }
    .day-of-week {
      @include font-details($size: 14px);
      font-size: 1.4rem;

      margin: {
        left: 5px;
        left: 0.5rem;
      }
    }
  }
}
