.event-link, .spotify-link, .spotify-no-link, .tickets-link, .tickets-no-link {
  @extend .button-gray;
  @extend .icon-replace;
  @include font-details($size: 16px, $color: white, $height: 30px);
  font-size: 1.6rem;
  line-height: 3rem;

  display: block;
  float: left;
  margin: {
    bottom: 5px;
    bottom: 0.5rem;
  }
  border: {
    right: 1px solid $gray-light;
  }
  border: {
    right: 1px solid $white-mask;
  }
  padding: 0;
  height: 30px;
  height: 3rem;
  width: 53px;
  width: 5.3rem;
  background: {
    color: $teal;
  }
  text-align: center;
  &:hover {
    background: {
      color: $gold;
    }
  }
}

.spotify-no-link, .tickets-no-link {
  &, &:hover {
    background: {
      color: $gray-lighter;
    }
  }
}

.event-link {
  &:before {
    content: "\f05a";
  }
}
.spotify-no-link, .spotify-link {
  &:before {
    content: "\f028";
  }
}
.tickets-no-link, .tickets-link {
  border: {
    right: none;
  }
  width: 54px;
  width: 5.4rem;
  &:before {
    content: "\f145";
  }
}

@include breakpoint($breakpoint-tablet $breakpoint-desktop - 0.0625) {
  .event-link, .spotify-link, .spotify-no-link, .tickets-link, .tickets-no-link  {
    position: absolute;
    margin: {
      top: 140px;
      top: 14rem;
    }
  }
  .spotify-link, .spotify-no-link {
    margin: {
      left: 53px;
      left: 5.3rem;
    }
  }
  .tickets-no-link, .tickets-link {
    margin: {
      left: 106px;
      left: 10.6rem;
    }
  }
}

@include breakpoint($breakpoint-desktop $breakpoint-desktop-wide - 0.0625) {
  .event-link, .spotify-link, .spotify-no-link {
    width: 38px;
    width: 3.8rem;
  }
  .tickets-link, .tickets-no-link  {
    width: 39px;
    width: 3.9rem;
  }
}
