.calendar-column {
  border: {
    bottom: 1px solid $gray-lighter;
  }
  &.no-entry, &.empty {
    display: none;
  }
  .item {
    @extend %clearfix;
  }
}
.calendar-column-previous-month, .calendar-column-next-month {
  display: none;
}

@include breakpoint($breakpoint-desktop) {
  .calendar-column {
    float: left;
    margin: 0 5px;
    margin: 0 0.5rem;
    border: {
      bottom: none;
    }
    min-height: 260px;
    min-height: 26rem;

    &.no-entry, &.empty {
      display: block;
    }
  }
  .calendar-column-previous-month, .calendar-column-next-month {
    display: block;
  }
}

@include breakpoint($breakpoint-desktop-wide) {
  .calendar-column {
    min-height: 300px;
    min-height: 30rem;
  }
}
