.calendar-column {
  border: {
    bottom: 1px solid $gray-lighter;
  }
  &.no-entry, &.empty, &.past-hidden {
    display: none;
  }
  .item {
    @extend %clearfix;
  }

  .events-upcoming-view & {
    margin: {
      bottom: 30px;
      bottom: 3rem;
    }
    border: {
      bottom: none;
    }
  }
}
.calendar-column-previous-month, .calendar-column-next-month {
  display: none;
}

@include breakpoint($breakpoint-tablet) {
  .calendar-column {
    .events-upcoming-view & {
      margin: {
        bottom: 0;
      }
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .calendar-column {
    float: left;
    margin: 0 5px;
    margin: 0 0.5rem;
    border: {
      bottom: none;
    }
    min-height: 260px;
    min-height: 26rem;

    &.no-entry, &.empty, &.past-hidden {
      display: block;
    }
  }
  .calendar-column-previous-month, .calendar-column-next-month {
    display: block;
  }
}

@include breakpoint($breakpoint-desktop-wide) {
  .calendar-column {
    min-height: 300px;
    min-height: 30rem;
  }
}
