.block-ark-map {
  margin: {
    bottom: 40px;
    bottom: 4rem;
  }
  padding: 0 25px;
  padding: 0 2.5rem;
}

@include breakpoint($breakpoint-tablet) {
  .block-ark-map {
    margin: 0 auto 40px;
    margin: 0 auto 4rem;
    max-width: 620px;
    max-width: 62rem;
    overflow: hidden;
  }
}

@include breakpoint($breakpoint-desktop) {
  .block-ark-map {
    
  }
}
