.expandable-details-title {
  margin: 0;
  padding: {
    top: 7px;
    top: 0.7rem;
  }
  cursor: pointer;

  &:before {
    @include transition(background-color $transition-duration ease-out);
    @include FontAwesome($size: 20px, $color: $gray-light);
    font-size: 2rem;

    content: '\f0d8';
    display: block;
    float: right;
    margin: {
      top: -7px;
      top: -0.7rem;
    }
    padding: {
      top: 10px;
      top: 1rem;
    }
    width: 40px;
    width: 4rem;
    height: 40px;
    height: 4rem;
    background: {
      color: $gray-light-background;
    }
    text-align: center;
  }

  &:hover {
    &:before {
      background: {
        color: $gray-lighter-background;
      }
    }
  }

  .expandable-details-item-collapsed & {
    &:before {
      content: '\f0d7';
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .expandable-details-title {
    &:before {
      display: none;
    }
  }
}
