.expandable-details-text {}

@include breakpoint($breakpoint-tablet) {
  .expandable-details-text {
    float: left;
    max-width: 400px;
    max-width: 40rem;
  }
}

@include breakpoint($breakpoint-desktop) {
  .expandable-details-text {
    max-width: 595px;
    max-width: 59.5rem;
  }
}
