.body-no-scroll {
  overflow: hidden;
  height: 100%;
  pointer-events: none;
}

@include breakpoint($breakpoint-desktop) {
  .body-no-scroll {
    overflow: inherit;
    height: inherit;
    pointer-events: inherit;
  }
}
