.breadcrumb {
  @include font-details($size: 12px);
  font-size: 1.2rem;

  padding: 0 20px;
  padding: 0 2rem;
  text-align: center;
  a {
    white-space: nowrap;
  }
  .active {
    color: $gray-light;
  }
}
