.button {
  @include font-details($size: 14px, $weight: 300);
  padding: 10px 40px;
  background-color: $orange;
  color: white;
  white-space: nowrap;
  text-transform: uppercase;
  &.active, &:hover {
    background-color: $teal;
  }
}
