.button-navigation {
  font-size: 12px;
  line-height: 40px;
  @include font-details($size: 1.2rem, $color: white, $weight: 300, $height: 4rem);
  @include transition(background-color $transition-duration ease-out, color $transition-duration ease-out);

  display: block;
  float: left;
  overflow: hidden;
  border: {
    right: 1px solid $gray-light;
  }
  border: {
    right: 1px solid $white-mask;
  }
  padding: 0;
  background-color: $gray;
  background-color: $gray-mask;
  width: 25%;
  height: 40px;
  height: 4rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  &:before {
    font-size: 18px;
    font-size: 1.8rem;
  }
  &:hover, &.active {
    background-color: $gray-light;
    background-color: $gray-light-mask;
    color: $gold;
  }
  &:hover {
    text-decoration: none;
  }
}
