.button-social {
  @include transition(background-color $transition-duration ease-out);
  @include font-details($size: 12px, $color: white, $weight: 300);
  font-size: 1.2rem;

  display: inline-block;
  padding: 7px 10px 5px;
  padding: 0.7rem 1rem 0.5rem;
  width: 75px;
  width: 7.5rem;
  text-transform: uppercase;
  &:before {
    @include FontAwesome();

    margin: {
      right: 5px;
      right: 0.5rem;
    }
  }
  &:hover {
    text-decoration: none;
  }
}
.facebook-share {
  background-color: $facebook-blue;
  &:before {
    content: '\f09a';
  }
  &:hover {
    background-color: lighten($facebook-blue, 20%);
  }
}
.twitter-tweet {
  background-color: $twitter-blue;
  &:before {
    content: '\f099';
  }
  &:hover {
    background-color: lighten($twitter-blue, 20%);
  }
}
