.button {
  @include transition(background-color $transition-duration ease-out);
  @include font-details($size: 14px, $weight: 300);
  font-size: 1.4rem;

  padding: 10px 40px;
  padding: 1rem 4rem;
  background-color: $orange;
  color: white;
  text-transform: uppercase;
  &.active, &:hover {
    background-color: $orange-light;
  }
  &:hover {
    text-decoration: none;
  }
}
.button-gray {
  @extend .button;

  background-color: $gray-background;
  &.active, &:hover {
    background-color: lighten($gray-background, 20%);
  }
}
