.button-close {
  @extend .icon-replace;
  @include transition(color $transition-duration ease-out);
  @include font-details($size: 30px, $color: $gray-light, $weight: 300, $height: 1);
  color: $white-mask;
  font-size: 3rem;

  display: block;
  cursor: pointer;
  height: 30px;
  height: 3rem;
  &:hover {
    text-decoration: none;
  }
  &:before {
    content: "\f057";
  }
}

@include breakpoint($breakpoint-desktop) {
  .button-close {
    &:hover {
      color: $gold;
    }
  }
}
