.button {
  font-size: 14px;
  @include font-details($size: 1.4rem, $weight: 300);
  @include transition(background-color $transition-duration ease-out);
  padding: 10px 40px;
  padding: 1rem 4rem;
  background-color: $orange;
  color: white;
  white-space: nowrap;
  text-transform: uppercase;
  &.active, &:hover {
    background-color: $orange-light;
  }
  &:hover {
    text-decoration: none;
  }
}
