.expandable-details-block {
  margin: 80px 0;
  margin: 8rem 0;
}

.expandable-details-expander {
  @extend .button;
  @include font-details($color: $gray-light);

  display: none;

  margin: {
    right: 2px;
    right: 0.2rem;
  }

  padding: {
    left: 10px;
    left: 1rem;
    right: 10px;
    right: 1rem;
  }

  width: 135px;
  width: 13.5rem;

  background: {
    color: $gray-light-background;
  }

  text-align: center;

  &:hover {
    background: {
      color: $gray-lighter-background;
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .expandable-details-expander {
    display: block;
    float: right;
  }
}

@include breakpoint($breakpoint-desktop) {
  .expandable-details-expander {
    width: 180px;
    width: 18rem;
  }
}

.expandable-details-item {
  @extend %clearfix;

  border: {
    bottom: 1px solid $gray-lighter;
  }

  padding: 10px 0;
  padding: 1rem 0;

  .first>& {
    border: {
      top: 1px solid $gray-lighter;
    }
  }
}

.expandable-details-link {
  @extend .button;

  display: block;
  margin: 30px 0;
  margin: 3rem 0;
  text-align: center;

  .expandable-details-item-collapsed>& {
    display: none;
  }
}

@include breakpoint($breakpoint-tablet) {
  .expandable-details-link {
    float: right;
    margin: 0;
    width: 135px;
    width: 13.5rem;

    .expandable-details-item-collapsed>& {
      display: block;
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .expandable-details-link {
    width: 180px;
    width: 18rem;
  }
}

.expandable-details-list-item {
  .expandable-details-list>& {
    @include font-details($size: 14px, $height: 1.75);
    font-size: 1.4rem;

    margin: 15px 0;
    margin: 1.5rem 0;
  }
}

@include breakpoint($breakpoint-tablet) {
  .expandable-details-list-item {
    .expandable-details-list>& {
      @include font-details($size: 16px);
      font-size: 1.6rem;
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .expandable-details-list-item {
    .expandable-details-list>& {
      @include font-details($size: 18px);
      font-size: 1.8rem;
    }
  }
}

.expandable-details-list {
  padding: {
    left: 20px;
    left: 2rem;
  }

  .expandable-details-item-collapsed & {
    display: none;
  }
}

.expandable-details-no-link {
  @include font-details($size: 14px, $weight: 300);
  font-size: 1.4rem;

  display: block;
  margin: 30px auto;
  margin: 3rem auto;
  padding: 0 10px;
  padding: 0 1rem;
  width: 135px;
  width: 13.5rem;
  text-align: center;
  text-transform: uppercase;

  .expandable-details-item-collapsed>& {
    display: none;
  }
}

@include breakpoint($breakpoint-tablet) {
  .expandable-details-no-link {
    float: right;
    margin: 0;

    .expandable-details-item-collapsed>& {
      display: block;
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .expandable-details-no-link {
    padding: {
      left: 35px;
      left: 3.5rem;
      right: 35px;
      right: 3.5rem;
    }

    width: 180px;
    width: 18rem;
  }
}

.expandable-details-text {}

@include breakpoint($breakpoint-tablet) {
  .expandable-details-text {
    float: left;
    max-width: 400px;
    max-width: 40rem;
  }
}

@include breakpoint($breakpoint-desktop) {
  .expandable-details-text {
    max-width: 595px;
    max-width: 59.5rem;
  }
}

.expandable-details-title-prefix {
  @include font-details($weight: 300);
}

.expandable-details-title {
  margin: 0;

  padding: {
    top: 7px;
    top: 0.7rem;
  }

  cursor: pointer;

  &:before {
    @include transition(background-color $transition-duration ease-out);
    @include FontAwesome($size: 20px, $color: $gray-light);
    font-size: 2rem;

    content: '\f0d8';
    display: block;
    float: right;

    margin: {
      top: -7px;
      top: -0.7rem;
    }

    padding: {
      top: 10px;
      top: 1rem;
    }

    width: 40px;
    width: 4rem;
    height: 40px;
    height: 4rem;

    background: {
      color: $gray-light-background;
    }

    text-align: center;
  }

  &:hover {
    &:before {
      background: {
        color: $gray-lighter-background;
      }
    }
  }

  .expandable-details-item-collapsed & {
    &:before {
      content: '\f0d7';
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .expandable-details-title {
    &:before {
      display: none;
    }
  }
}

.expandable-details-view {
  margin: 0 auto;
  padding: 0 20px;
  padding: 0 2rem;
  max-width: 600px;
  max-width: 60rem;
}

@include breakpoint($breakpoint-tablet) {
  .expandable-details-view {
    max-width: 740px;
    max-width: 74rem;
  }
}

@include breakpoint($breakpoint-desktop) {
  .expandable-details-view {
    max-width: 1000px;
    max-width: 100rem;
  }
}
