.footer-constant-contact {
  @include container(450px);
  text-align: left;
  label {
    display: none;
  }
  .constant-contact-paragraph {
    text-align: center;
  }
  .form-text {
    position: absolute;
    padding: {
      right: 160px;
    }
    max-width: 450px;
    height: 70px;
  }
  .form-submit {
    position: relative;
    z-index: 1;
    float: right;
    margin: 15px 15px 15px 0;
  }
}
