.footer-sponsor-featured {
  margin: {
    right: auto;
    left: auto;
  }
  border: {
    top: 1px solid $gray-light;
    bottom: 1px solid $gray-light;
  }
  border: {
    top: 1px solid $white-mask;
    bottom: 1px solid $white-mask;
  }
  padding: 10px 0 20px;
  padding: 1rem 0 2rem;
  max-width: 550px;
  max-width: 55rem;
}
