.footer-contact {
  .footer-paragraph {
    margin: 0;
  }
  .phone-office {
    color: white;
  }
}

@include breakpoint($breakpoint-tablet) {
  .footer-contact {
    .footer-paragraph {
      display: inline;
      margin: {
        right: 25px;
      }
      margin: {
        right: 2.5rem;
      }
    }
    .contact-telephone {
      margin: {
        right: 0;
      }
    }
  }
}
