.header-hero-about {
  position: absolute;
  top: 260px;
  top: 26rem;
  padding: 0 10px;
  padding: 0 1rem;
  min-height: 80px;
  min-height: 8rem;
  width: 100%;
  min-width: 320px;
  min-width: 32rem;
  background-color: $teal;
  background-color: $teal-mask;
  text-align: center;
}
