.header-navigation-related-links {
  .related-links-title {
    font-size: 14px;
    @include font-details($size: 1.4rem, $weight: 400, $style: italic);

    margin: {
      top: 25px;
    }
    margin: {
      top: 2.5rem;
    }
  }
  .related-links-menu-item {
    padding: 5px 0;
    padding: 0.5rem 0;
  }
  .related-links-menu-link {
    font-size: 14px;
    @include font-details($size: 1.4rem, $color: white, $weight: 300);
    @include transition(color $transition-duration ease-out);

    text-transform: uppercase;
    &:hover {
      @include font-details($color: $gold);
      text-decoration: none;
    }
  }
}
