.header-search {
  .form-text {
    display: none;
  }
  .form-submit {
    @extend .button-navigation;
    @extend .icon-replace;
    border: {
      right: none;
    }
    &:before {
      content: "\f002" // FontAwesome search
    }
  }
}
