.header-site-name {
  // display: none;
  margin: 0;
  padding: 60px 0 0;
  padding: 6rem 0 0;
}
.site-name-link {
  @extend .icon-logo-replace;
  @include font-details($color: white);

  display: block;
  margin: 0 auto;
  width: 215px;
  width: 21.5rem;
  height: 110px;
  height: 11rem;
  &:before {
    font-size: 110px;
    @include font-details($size: 11rem, $height: 1);

    content: "\e600";
  }
}
