.header-navigation-primary {
  .menu-primary-close {
    @extend .button-close;
    position: absolute;
    top: 18px;
    top: 1.8rem;
    right: 20px;
    right: 2rem;
    text-align: right;
  }
  .block__title {
    @extend .button-navigation;
  }
  .menu-item {
    margin: 20px 0;
    margin: 2rem 0;
  }
  .menu-top-level-item {
    border: {
      top: 1px solid $gray-light;
    }
    border: {
      top: 1px solid $white-mask;
    }
    padding: {
      top: 15px;
    }
    padding: {
      top: 1.5rem;
    }
    &.first {
      margin: {
        top: 0;
      }
      border: {
        top: none;
      }
      padding: {
        top: 0;
      }
    }
  }
  .menu-link {
    @include font-details($color: white, $weight: 300);
    @include transition(background-color $transition-duration ease-out, color $transition-duration ease-out);
    &:hover {
      text-decoration: none;
    }
    &.active {
      @include font-details($color: $gold);
    }
  }
  .menu-top-level-link {
    font-size: 18px;
    @include font-details($size: 1.8rem);
  }
  .menu-primary-home {
    @extend .icon-logo-replace-desktop;
  }
}
.menu-primary-wrapper {
  @include transition(left $transition-duration-extended ease-out);
  position: fixed;
  overflow: hidden;
  z-index: 100;
  pointer-events: auto;
  top: 0;
  left: -320px;
  left: -32rem;
  width: 320px;
  width: 32rem;
  height: 100%;
  pointer-events: auto;
  background-color: $gray-dark-background;
  background-color: $gray-dark-mask;

  > .menu { // 1st level menus
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 20px 40px 20px 20px;
    padding: 2rem 4rem 2rem 2rem;
    width: 340px;
    width: 34rem;
    height: 100%;
  }

  &.menu-flyout-visible {
    left: 0;
  }
}
.header-navigation-region {
  > .menu { // 2nd level menus
    margin: {
      left: 20px;
    }
    margin: {
      left: 2rem;
    }
  }
  .menu-link { // 2nd level links
    font-size: 14px;
    @include font-details($size: 1.4rem, $style: italic);
  }
}


@include breakpoint($breakpoint-desktop) {
  .header-navigation-primary {
    .menu-primary-close, .block__title {
      display: none;
    }
    .menu-link {
      &:hover {
        @include font-details($color: $gold);
      }
    }
    .menu-top-level-item {
      position: relative;
      z-index: 2;
      margin: 0;
      border: {
        top: 0;
      }
      padding: 0;
      width: auto;
      &.first {
        position: absolute;
        z-index: 1;
        left: 0;
        width: 100%;
      }
    }
    .menu-top-level-link {
      font-size: 16px;
      @include font-details($size: 1.6rem, $weight: 400);
    }
    .menu-primary-home { // extends .icon-logo-replace-desktop in global styles
      display: block;
      margin: 0 auto;
      width: 80px;
      width: 8rem;
      height: 40px;
      height: 4rem;
      text-align: center;
      &:before {
        font-size: 40px;
        @include font-details($size: 4rem, $height: 1);
        content: "\e600";
      }
      &.active {
        @include font-details($color: white);
      }
      &:hover {
        @include font-details($color: $gold);
      }
    }
    .menu-primary-shows-events, .menu-primary-about, .menu-primary-support {
      float: left;
      margin: {
        right: 60px;
      }
      margin: {
        right: 6rem;
      }
    }
    .menu-primary-contact, .menu-primary-blog {
      float: right;
      margin: {
        left: 60px;
      }
      margin: {
        left: 6rem;
      }
    }
  }
  .menu-primary-wrapper {
    position: static;
    float: left;
    width: 800px;
    width: 80rem;
    background-color: transparent;

    > .menu { // 1st level menus
      padding: 0;
      width: auto;
    }
  }

  // .menu-primary-wrapper {
  //   @include transition(margin $transition-duration-extended ease-out);
  //   position: relative;
  //   overflow: inherit;
  //   left: 0;
  //   width: 100%;
  //   background-color: inherit;
  //   &:before {
  //     content: '';
  //     position: absolute;
  //     top: -100px;
  //     top: -10rem;
  //     left: 0;
  //     width: 100%;
  //     height: 100px;
  //     height: 10rem;
  //     background-color: $gray-dark-background;
  //     background-color: $gray-dark-mask;
  //   }
  //   &:hover {
  //     margin: {
  //       top: 100px;
  //     }
  //     margin: {
  //       top: 10rem;
  //     }
  //   }
  // }

  .header-navigation-region {
    > .menu { // 2nd level menus
      display: none;
    }
  }
}
