.l-header {
  background-attachment: fixed;
  background-color: black;
  background-image: url('/images/header');
  background-position: center top;
}
.l-regionset--header {
  height: 170px;
  height: 17rem;
  background-color: $purple-mask;
  background-image: url('/sites/all/themes/the_ark/images/logo.png');
  background-position: center center;
  background-repeat: no-repeat;
}
.l-regionwrapper--header {
  @include transition(top $transition-duration-extended ease-in);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  &.headroom--unpinned {
    top: -40px;
    top: -4rem;
  }
}
.l-region--header {
  max-width: 320px;
  @include container(32rem);
}


.front {
  .l-header {
    background-image: url('/images/hero');
  }
  .l-regionset--header {
    height: 340px;
    height: 34rem;
  }
}

@include breakpoint($breakpoint-hi-res) {
  .l-regionset--header {
    background-image: url('/sites/all/themes/the_ark/images/logo@2x.png');
    background-size: 215px 110px;
    background-size: 21.5rem 11rem;
  }
}

@include breakpoint($breakpoint-mobile-wide) {
  .l-header {
    background-image: url('/images/header/mobile_wide');
  }

  .front {
    .l-header {
      background-image: url('/images/hero/mobile_wide');
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .l-header {
    background-image: url('/images/header/tablet');
  }
  .l-regionset--header {
    height: 130px;
    height: 13rem;
  }

  .front {
    .l-header {
      background-image: url('/images/hero/tablet');
    }
    .l-regionset--header {
      height: 500px;
      height: 50rem;
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .l-header {
    background-image: url('/images/header/desktop');
  }
  .l-regionset--header {
    height: 170px;
    height: 17rem;
  }

  .front {
    .l-header {
      background-image: url('/images/hero/desktop');
    }
    .l-regionset--header {
      height: 700px;
      height: 70rem;
    }
  }
}

@include breakpoint($breakpoint-desktop-wide) {
  .l-header {
    background-size: 100% auto;
  }
}
