.l-header {
  background-attachment: fixed;
  background-color: black;
  background-image: url('/images/header');
  background-position: center top;
  background-repeat: no-repeat;
}
.l-regionset--header {
  height: 170px;
  height: 17rem;
  background-color: $purple-mask;
}
.l-regionwrapper--header {
  @include transition(
    top $transition-duration-extended ease-in,
    margin-top $transition-duration-extended ease-in-out,
    background-color $transition-duration ease-out
  );
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  &.headroom--unpinned {
    top: -40px;
    top: -4rem;
  }
}
.l-region--header {
  max-width: 320px;
  @include container(32rem);
}

.front {
  .l-header {
    background-image: url('/images/hero');
  }
  .l-regionset--header {
    height: 340px;
    height: 34rem;
  }
}

.document-modal-mobile {
  .l-regionwrapper--header {
    top: -40px;
    top: -4rem;
  }
}

@include breakpoint($breakpoint-mobile-wide) {
  .l-header {
    background-image: url('/images/header/mobile_wide');
  }

  .front {
    .l-header {
      background-image: url('/images/hero/mobile_wide');
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .l-header {
    background-image: url('/images/header/tablet');
  }
  .l-regionset--header {
    height: 130px;
    height: 13rem;
  }

  .front {
    .l-header {
      background-image: url('/images/hero/tablet');
    }
    .l-regionset--header {
      height: 500px;
      height: 50rem;
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .l-header {
    background-image: url('/images/header/desktop');
  }
  .l-regionset--header {
    height: 170px;
    height: 17rem;
  }
  .l-regionwrapper--header {
    height: 60px;
    height: 6rem;
    background-color: $gray;
    background-color: $gray-mask;
    &:before {
      content: '';
      position: absolute;
      top: -#{map_get($navigation-flyup, height-px)};
      top: -#{map_get($navigation-flyup, height)};
      left: 0;
      border: {
        bottom: 1px solid $gray-light;
      }
      border: {
        bottom: 1px solid $white-mask;
      }
      width: 100%;
      height: map_get($navigation-flyup, height-px);
      height: map_get($navigation-flyup, height);
      background-color: $gray-dark-background;
      background-color: $gray-dark-mask;
    }
    &:hover {
      margin: {
        top: map_get($navigation-flyup, height-px);
      }
      margin: {
        top: map_get($navigation-flyup, height);
      }
    }
    &.headroom--unpinned {
      top: -60px;
      top: -6rem;
      &:hover {
        top: 0;
      }
    }
  }
  .l-region--header {
    max-width: map_get($navigation, width-px);
    @include container(map_get($navigation, width));
  }

  .front {
    .l-header {
      background-image: url('/images/hero/desktop');
    }
    .l-regionset--header {
      height: 700px;
      height: 70rem;
    }
  }

  .document-modal-mobile {
    .l-regionwrapper--header {
      top: 0;
    }
  }
}

@include breakpoint($breakpoint-desktop-wide) {
  .l-header {
    background-size: 100% auto;
  }
}
