.l-header {
  background-color: black;
  background-image: url('/images/header');
  background-position: center top;
}
.l-region--header {
  height: 170px;
  background-color: $purple-mask;
  background-image: url('/sites/all/themes/the_ark/images/logo.png');
  background-position: center center;
  background-repeat: no-repeat no-repeat;
}

.front {
  .l-header {
    background-image: url('/images/hero');
  }
  .l-region--header {
    height: 340px;
  }
}

@include breakpoint($breakpoint-hi-res) {
  .l-region--header {
    background-image: url('/sites/all/themes/the_ark/images/logo@2x.png');
    background-size: 215px 110px;
  }
}

@include breakpoint($breakpoint-mobile-wide) {
  .l-header {
    background-image: url('/images/header/mobile_wide');
  }

  .front {
    .l-header {
      background-image: url('/images/hero/mobile_wide');
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .l-header {
    background-image: url('/images/header/tablet');
  }
  .l-region--header {
    height: 130px;
  }

  .front {
    .l-header {
      background-image: url('/images/hero/tablet');
    }
    .l-region--header {
      height: 500px;
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .l-header {
    background-image: url('/images/header/desktop');
  }
  .l-region--header {
    height: 170px;
  }

  .front {
    .l-header {
      background-image: url('/images/hero/desktop');
    }
    .l-region--header {
      height: 700px;
    }
  }
}

@include breakpoint($breakpoint-desktop-wide) {
  .l-header {
    background-size: 100% auto;
  }
}
