.tabs--primary {
  margin: {
    bottom: 0;
  }
  border: {
    bottom: none;
  }
  a {
    @extend .button;
  }
  li {
    float: none;
    display: block;
    margin: {
      bottom: 15px;
    }
    margin: {
      right: 0;
      bottom: 1.5rem;
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .tabs--primary {
    li {
      display: inline-block;
      margin: {
        right: 15px;
      }
      margin: {
        right: 1.5rem;
      }
    }
  }
}
