.tabs--primary {
  margin: {
    bottom: 0;
  }
  border: {
    bottom: none;
  }
  a {
    @extend .button;
  }
  li {
    float: none;
    display: block;
    margin: 0 20px 15px;
    margin: 0 2rem 1.5rem;
  }
}

@include breakpoint($breakpoint-tablet) {
  .tabs--primary {
    text-align: center;
    li {
      display: inline-block;
      margin: 0 10px;
      margin: 0 1rem;
    }
  }
}
