.events-upcoming-title {
  margin: {
    top: 0;
    bottom: 15px;
    bottom: 1.5rem;
  }
}

@include breakpoint($breakpoint-tablet) {
  .events-upcoming-title {
    margin: 0;
    float: left;
  }
}
