.footer-constant-contact {
  max-width: 450px;
  @include container(45rem);
  text-align: left;
  label {
    display: none;
  }
  .form-text {
    padding: {
      right: 115px;
      left: 15px;
    }
    padding: {
      right: 11.5rem;
      left: 1.5rem;
    }
    max-width: 450px;
    max-width: 45rem;
    height: 70px;
    height: 7rem;
  }
  .form-submit {
    position: relative;
    float: right;
    margin: -70px 15px 0;
    margin: -7rem 1.5rem 0;
    padding: {
      right: 20px;
      left: 20px;
    }
    padding: {
      right: 2rem;
      left: 2rem;
    }
  }
}

.constant-contact-paragraph {
  font-size: 14px;
  @include font-details($size: 1.4rem);
  text-align: center;
}

@include breakpoint($breakpoint-mobile-wide) {
  .footer-constant-contact {
    .form-text {
      padding: {
        right: 155px;
      }
      padding: {
        right: 15.5rem;
      }
    }
    .form-submit {
      padding: {
        right: 40px;
        left: 40px;
      }
      padding: {
        right: 4rem;
        left: 4rem;
      }
    }
  }

  .constant-contact-paragraph {
    font-size: 18px;
    @include font-details($size: 1.8rem);
  }
}
