.block-full-feature {
  img {
    display: block;
    margin: 0 auto 25px auto;
    margin: 0 auto 2.5rem auto;
    width: 280px;
    width: 28rem;
  }
}

@include breakpoint($breakpoint-tablet) {
  .block-full-feature {
    img {
      float: left;
      margin: 0;
      margin: {
        right: 50px;
        right: 5rem;
      }
      width: 280px;
      width: 28rem;
      max-width: none;
      height: 210px;
      height: 21rem;
      display: table-cell;
      vertical-align: middle;
    }
  }
}
