.tab-content-body-primary-link {
  > a {
    @extend .button;

    display: inline-block;
    margin: 1rem 0 3rem;
    margin: 10px 0 30px;
  }
}

@include breakpoint($breakpoint-desktop) {
  .tab-content-body-primary-link {
    .homepage-tabs-block & {
      margin: {
        left: 55rem;
        left: 550px;
      }
    }
  }
}
