.block-main-feature {
  p {
    margin: {
      bottom: 25px;
      bottom: 25px;
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .block-main-feature {
    p {
      margin: {
        bottom: 30px;
        bottom: 30px;
      }
    }
  }
}
