.columned-text-block {
  margin: 40px 0;
  margin: 4rem 0;
}

@include breakpoint($breakpoint-desktop) {
  .columned-text-block {
    overflow: hidden;

    .page-node-5 &,
    .page-node-97 &,
    .page-node-98 &,
    .page-node-99 & {
      margin: 0;
      padding-left: 0;
      padding: {
        right: 20px;
        right: 2rem;
      }
      width: 50%;
      float: left;
      max-width: none;
    }
  }
}

.columned-left {
  max-width: 48%;
  margin-right: 2%;
  float: left;
}

.columned-right {
  float: right;
  max-width: 46%;
  margin-left: 2%;

  p {
    margin-top: 0;
    font-size: 18px;
    font-size: 1.8rem;
  }
}
