.views-exposed-form {
  padding: 0 25px;
  padding: 0 2.5rem;
  select {
    width: 350px;
    width: 35rem;
    background-color: #fff;
  }
  .views-exposed-widget {
    .form-submit {
      margin: {
        top: 10px;
        top: 1rem;
        bottom: 15px;
        bottom: 1.5rem;
      }
    }
  }
}
