.sidebar-navigation {
  .menu {
    @include container(100%);

    z-index: 10;
  }
  .menu-link {
    @extend .button;
    @extend .icon-replace;
    @include span(16.6667% no-gutter);

    display: block;
    padding: 10px 5px;
    padding: 1rem 0.5rem;
    border: {
      right: 1px solid white;
    }
    border: {
      right: 1px solid $white-mask;
    }
    height: 40px;
    height: 4rem;
    text-align: center;
    &:before {
      @include font-details($size: 22px);
      font-size: 2.2rem;
    }
  }
  .last {
    .menu-link {
      border: {
        right: none;
      }
    }
  }
}
.menu-twitter {
  &:before {
    content: "\f099";
  }
}
.menu-facebook {
  &:before {
    content: "\f09a";
  }
}
.menu-instagram {
  &:before {
    content: "\f16d";
  }
}
.menu-flickr {
  &:before {
    content: "\f16e";
  }
}
.menu-youtube {
  &:before {
    content: "\f16a";
  }
}
.menu-spotify {
  &:before {
    content: "\f1bc";
  }
}
.menu-tumblr {
  &:before {
    content: "\f173";
  }
}

@include breakpoint($breakpoint-tablet) {
  .sidebar-navigation {
    .menu {
      @include transition(left $transition-duration-extended ease-out);

      position: fixed;
      top: 20%;
      left: 0;
      max-width: 40px;
      max-width: 4rem;
    }
    .menu-hidden {
      left: -40px;
      left: -4rem;
    }
    .menu-link {
      float: none;
      border: {
        right: none;
      }
      width: 40px;
      width: 4rem;
      background-color: $orange-mask;
    }
  }
}
