// Icon replacement for text (and other block content)

@mixin icon-replace ($family: 'FontAwesome') {
  overflow: hidden;
  &:before {
    @if $family == 'FontAwesome' {
      @include FontAwesome();
    } @else if $family == 'The Ark' {
      @include TheArkFont();
    }
    display: block;
    height: 150%;
  }
}
