.augmented-link-title {
  @include font-details($size: 14px);
  font-size: 1.4rem;

  margin: {
    bottom: 0;
  }
}

@include breakpoint($breakpoint-tablet) {
  .augmented-link-title {
    @include font-details($size: 18px);
    font-size: 1.8rem;

    margin: {
      top: 0;
    }
  }
}
