.event-tickets {
  margin: 20px 0;
  margin: 2rem 0;
  padding: 0 20px;
  padding: 0 2rem;
  text-align: center;
}

.event-tickets-link, .event-tickets-link--sold-out {
  display: block;
  margin: 0 0 2px;
  margin: 0 0 0.2rem;
}
.event-tickets-link {
  @extend .button;
}
.event-tickets-link--sold-out {
  @extend .button-gray;
  background-color: $gray-lighter;
}

@include breakpoint($breakpoint-tablet) {
  .event-tickets-link, .event-tickets-link--sold-out {
    display: inline-block;
    margin: 0 10px;
    margin: 0 1rem;
  }
}
